In [2]:
import pandas as pd
import quandl
quandl.ApiConfig.api_key = "tc4nKqQx_8at13DbxGaz"
df = quandl.get('WIKI/GOOGL')
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [4]:
df = df[['Adj. Open',  'Adj. High',  'Adj. Low',  'Adj. Close', 'Adj. Volume']]
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
print(df.head())

KeyError: "['Adj. Open', 'Adj. Low', 'Adj. High'] not in index"

In [5]:
import quandl, math
import numpy as np
import pandas as pd
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [6]:
forecast_col = 'Adj. Close'
df.fillna(value=-99999, inplace=True)
forecast_out = int(math.ceil(0.01 * len(df)))

In [7]:
forecast_out

35

In [8]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [9]:
df['label']

Date
2004-08-19    69.078238
2004-08-20    67.839414
2004-08-23    68.912727
2004-08-24    70.668146
2004-08-25    71.219849
                ...
2018-03-21          NaN
2018-03-22          NaN
2018-03-23          NaN
2018-03-26          NaN
2018-03-27          NaN
Name: label, Length: 3424, dtype: float64

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(7,4))
df.loc[:4,1] = np.nan
df.loc[:2,2] = np.nan
df.loc[0,:] = np.nan

In [11]:
df

          0         1         2         3
0       NaN       NaN       NaN       NaN
1 -1.962918       NaN       NaN -0.439730
2 -0.572170       NaN       NaN -0.364066
3  0.463271       NaN -1.046287 -0.110556
4 -0.701571       NaN  0.416643  1.299946
5  0.156174 -1.283563 -1.233598 -0.845182
6  0.103000 -2.618595 -0.440380  1.170656

In [12]:
df.fillna(value=-99999, inplace=True)
df

              0             1             2             3
0 -99999.000000 -99999.000000 -99999.000000 -99999.000000
1     -1.962918 -99999.000000 -99999.000000     -0.439730
2     -0.572170 -99999.000000 -99999.000000     -0.364066
3      0.463271 -99999.000000     -1.046287     -0.110556
4     -0.701571 -99999.000000      0.416643      1.299946
5      0.156174     -1.283563     -1.233598     -0.845182
6      0.103000     -2.618595     -0.440380      1.170656